#intro .image-block {
    background-image: url('/img/archive/rw_home_1424x712.jpg');
}

#info .image-block {
    background-image: url('/img/archive/rw_gunfire_1424x712.jpg');
}

.separator.separator-1 {
    background-image: url(/img/archive/parallax/rw_strip_gun1_1920x384.jpg);
}

.separator.separator-2 {
    background-image: url(/img/archive/parallax/rw_strip_gun2_1920x384.jpg);
}

#demo #machine {
    margin-left: -476px;
    margin-top: -296px;
}

#machine {
    width: 1040px;
    height: 648px;
    position: absolute;
    background: url('/img/gunfire/gunfire.png') no-repeat;
}

.knob {
    width: 122px;
    height: 122px;
    position: absolute;
    background: url('/img/gunfire/knob.png') no-repeat;
}

#volume {
    top: 195px;
    left: 723px;
}

#rate-of-fire {
    top: 387px;
    left: 603px;
}

#distance {
    top: 387px;
    left: 819px;
}

#multi-fire {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 444px;
    left: 480px;
    background: url('/img/gunfire/switch_on-off.png') no-repeat;
}

#multi-fire.off {
    -webkit-transform:rotate(180deg);
}

#trigger {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 66px;
    top: 538px;
    background: url('/img/gunfire/play.png') no-repeat;
}
