#intro .image-block {
    background-image: url('/img/archive/rw_home_1424x712.png');
}

#info .image-block {
    background-image: url('/img/archive/rw_ring_1424x712.png');
}

.separator.separator-1 {
    background-image: url(/img/archive/parallax/rw_strip_ring1_1920x384.png);
}

.separator.separator-2 {
    background-image: url(/img/archive/parallax/rw_strip_ring2_1920x384.png);
}

#demo #machine {
    margin-left: -660px;
    margin-top: -339px;
}

#machine {
    width:1320px;
    height:678px;
    position: absolute;
    background: url('/img/ring/rw_demo_ring_background.png') no-repeat ;
    background-position-x: 87px;
}

#mod-distortion {
    /* Same as wobbulator depth dial */
    background: url("/img/wob/rw_demo_wob_knob_depth.png") no-repeat scroll 0 0 transparent;
    width: 54px;
    height: 54px;
    left: 789px;
    top: 571px;
    position: absolute;
}

#tape-speed {
    background: url("/img/tape/rw_demo_tape_rotary-knob.png") no-repeat scroll 0 0 transparent;
    width: 82px;
    height: 82px;
    left: 721px;
    top: 366px;
    position: absolute;
}

/* 'Live Mic.' input button */
#live-input.on,
#live-input.off {
    display: block;
    position: absolute;
    
    top: 579px;
    left: 611px;

    width: 111px;
    line-height: 32px;

    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #007DB3;
}

#live-input.on,
#live-input:hover {
    cursor: pointer;
    background-color: rgba(0, 125, 179, 0.7);
}

#live-input span {
    display: inline-block;
    width: 8px;
    height: 8px;
    line-height: 32px;

    margin-bottom: 3px;
    margin-right: 4px;

    background-color: #FFF;
    border-radius: 10px;
}

#live-input.off span {
    opacity: 0.2;
}

#live-input.on span {
  -webkit-animation: fade-in-out 3s infinite;
     -moz-animation: fade-in-out 3s infinite;
       -o-animation: fade-in-out 3s infinite;
          animation: fade-in-out 3s infinite;
}

@-webkit-keyframes fade-in-out {
  0%   { opacity: 0.2; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.2; }
}
@-moz-keyframes fade-in-out {
  0%   { opacity: 0.2; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.2; }
}
@-o-keyframes fade-in-out {
  0%   { opacity: 0.2; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.2; }
}
@keyframes fade-in-out {
  0%   { opacity: 0.2; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.2; }
}


/* Voice */
.voice {
    width: 184px;
    height: 96px;
}

#voice1 {
    left: 0;
    position: absolute;
    top: 0px;
}

#voice1.off {
    background: url("/img/ring/rw_demo_ring_txt_exterminate_off.png") no-repeat scroll 0 0 transparent;
}

#voice1.hover,
#voice1.on {
    background: url("/img/ring/rw_demo_ring_txt_exterminate_on.png") no-repeat scroll 0 0 transparent;
}

#voice2 {
    left: 200px;
    position: absolute;
    top: 0px;
    width: 216px;
}

#voice2.off {
    background: url("/img/ring/rw_demo_ring_txt_good-dalek_off.png") no-repeat scroll 0 0 transparent;
}
#voice2.on,
#voice2.hover {
    background: url("/img/ring/rw_demo_ring_txt_good-dalek_on.png") no-repeat scroll 0 0 transparent;
}

#voice3 {
    left: 904px;
    position: absolute;
    top: 0px;
    width: 216px;
}

#voice3.off {
    background: url("/img/ring/rw_demo_ring_txt_upgrading_off.png") no-repeat scroll 0 0 transparent;
}
#voice3.hover,
#voice3.on {
    background: url("/img/ring/rw_demo_ring_txt_upgrading_on.png") no-repeat scroll 0 0 transparent;
}

#voice4 {
    left: 1136px;
    position: absolute;
    top: 0px;
}

#voice4.off {
    background: url("/img/ring/rw_demo_ring_txt_delete_off.png") no-repeat scroll 0 0 transparent;
}
#voice4.hover,
#voice4.on {
    background: url("/img/ring/rw_demo_ring_txt_delete_on.png") no-repeat scroll 0 0 transparent;
}
