#intro .image-block {
    background-image: url('/img/archive/rw_home_crop.png');
}

#info .image-block {
    background-image: url('/img/archive/rw_ring_info_crop.png');
}

#machine-wrapper #machine {
    margin-left: -463px;
    margin-top: -302px;
}

#machine {
    width:926px;
    height:604px;
    position: absolute;
    background: url('/img/ring_modulator.png') no-repeat;
    left:118px;
}

#mod-distortion {
    background: url("/img/ring_mod_knob.png") no-repeat scroll 0 0 transparent;
    width: 72px;
    height: 72px;
    left: 542px;
    top: 467px;
    position: absolute;
}

#tape-speed {
    background: url("/img/ring_mod_knob2.png") no-repeat scroll 0 0 transparent;
    width: 64px;
    height: 64px;
    left: 510px;
    top: 287px;
    position: absolute;
}

#tape-switch {
    width: 40px;
    height: 40px;
    left: 342px;
    top: 286px;
    position: absolute;
}

#tape-switch.off {
    background: url("/img/play.png") no-repeat scroll 0 0 transparent;
}

#tape-switch.on {
    background: url("/img/stop.png") no-repeat scroll 0 0 transparent;
}

#mod-switch {
    width: 32px;
    height: 32px;
    left: 488px;
    top: 487px;
    position: absolute;
}

#mod-switch.off {
    background: url("/img/switch.png") no-repeat scroll 0 0 transparent;
}

#mod-switch.on {
    background: url("/img/switch.png") no-repeat scroll 0 0 transparent;
}

.voice {
    width: 176px;
    height: 88px;
}

#voice1 {
    left: -114px;
    position: absolute;
    top: 0px;
}

#voice1.off {
    background: url("/img/exterminate_off.png") no-repeat scroll 0 0 transparent;
}
#voice1.on {
    background: url("/img/exterminate_on.png") no-repeat scroll 0 0 transparent;
}
#voice1.hover {
    background: url("/img/exterminate_hover.png") no-repeat scroll 0 0 transparent;
}

#voice2 {
    left: 78px;
    position: absolute;
    top: 0px;
    width: 192px;
}

#voice2.off {
    background: url("/img/good-dalek_off.png") no-repeat scroll 0 0 transparent;
}
#voice2.on {
    background: url("/img/good-dalek_on.png") no-repeat scroll 0 0 transparent;
}
#voice2.hover {
    background: url("/img/good-dalek_hover.png") no-repeat scroll 0 0 transparent;
}

#voice3 {
    left: 654px;
    position: absolute;
    top: 0px;
    width: 192px;
}

#voice3.off {
    background: url("/img/upgrading_off.png") no-repeat scroll 0 0 transparent;
}
#voice3.on {
    background: url("/img/upgrading_on.png") no-repeat scroll 0 0 transparent;
}
#voice3.hover {
    background: url("/img/upgrading_hover.png") no-repeat scroll 0 0 transparent;
}

#voice4 {
    left: 862px;
    position: absolute;
    top: 0px;
}

#voice4.off {
    background: url("/img/delete_off.png") no-repeat scroll 0 0 transparent;
}
#voice4.on {
    background: url("/img/delete_on.png") no-repeat scroll 0 0 transparent;
}
#voice4.hover {
    background: url("/img/delete_hover.png") no-repeat scroll 0 0 transparent;
}

#dalek {
    width: 200px;
    height: 175px;
    left: -31px;
    position: absolute;
    top: 112px;
}

#dalek.off {
    background: url("/img/dalek_off.png") no-repeat scroll 0 0 transparent;
}
#dalek.on {
    background: url("/img/dalek_on.png") no-repeat scroll 0 0 transparent;
}

#cyberman {
    width: 261px;
    height: 211px;
    left: 725px;
    position: absolute;
    top: 79px;
}

#cyberman.off {
    background: url("/img/cyberman_off.png") no-repeat scroll 0 0 transparent;
}
#cyberman.on {
    background: url("/img/cyberman_on.png") no-repeat scroll 0 0 transparent;
}
