#intro .image-block {
    background-image: url('/img/archive/rw_home_1424x712.png');
}

#info .image-block {
    background-image: url('/img/archive/rw_ring_1424x712.png');
}

.separator.separator-1 {
    background-image: url(/img/archive/parallax/rw_strip_ring1_1920x384.png);
}

.separator.separator-2 {
    background-image: url(/img/archive/parallax/rw_strip_ring2_1920x384.png);
}

#demo #machine {
    margin-left: -660px;
    margin-top: -339px;
}

#machine {
    width:1320px;
    height:678px;
    position: absolute;
    background: url('/img/ring/rw_demo_ring_background.png') no-repeat ;
    background-position-x: 87px;
}

#mod-distortion {
    /* Same as wobbulator depth dial */
    background: url("/img/wob/rw_demo_wob_knob_depth.png") no-repeat scroll 0 0 transparent;
    width: 54px;
    height: 54px;
    left: 789px;
    top: 571px;
    position: absolute;
}

#tape-speed {
    background: url("/img/tape/rw_demo_tape_rotary-knob.png") no-repeat scroll 0 0 transparent;
    width: 82px;
    height: 82px;
    left: 721px;
    top: 366px;
    position: absolute;
}

/*
Unused

#tape-switch {
    width: 50px;
    height: 50px;
    left: 507px;
    top: 364px;
    position: absolute;
}

#tape-switch.off {
    background: url("/img/tape/rw_demo_tape_play.png") no-repeat scroll 0 0 transparent;
}

#tape-switch.on {
    background: url("/img/tape/rw_demo_tape_stop.png") no-repeat scroll 0 0 transparent;
}

*/


/*
    UNUSED:

#mod-switch {
    background: url("/img/ring/rw_demo_ring_on-off.png") no-repeat scroll 0 0 transparent;
    width: 32px;
    height: 32px;
    left: 461px;
    top: 572px;
    position: absolute;
}

#mod-switch.off {
     -webkit-transform:rotate(180deg);
}

#mod-switch.on {

}

*/

.voice {
    width: 184px;
    height: 96px;
}

#voice1 {
    left: 0;
    position: absolute;
    top: 0px;
}

#voice1.off {
    background: url("/img/ring/rw_demo_ring_txt_exterminate_off.png") no-repeat scroll 0 0 transparent;
}

#voice1.hover,
#voice1.on {
    background: url("/img/ring/rw_demo_ring_txt_exterminate_on.png") no-repeat scroll 0 0 transparent;
}

#voice2 {
    left: 200px;
    position: absolute;
    top: 0px;
    width: 216px;
}

#voice2.off {
    background: url("/img/ring/rw_demo_ring_txt_good-dalek_off.png") no-repeat scroll 0 0 transparent;
}
#voice2.on,
#voice2.hover {
    background: url("/img/ring/rw_demo_ring_txt_good-dalek_on.png") no-repeat scroll 0 0 transparent;
}

#voice3 {
    left: 904px;
    position: absolute;
    top: 0px;
    width: 216px;
}

#voice3.off {
    background: url("/img/ring/rw_demo_ring_txt_upgrading_off.png") no-repeat scroll 0 0 transparent;
}
#voice3.hover,
#voice3.on {
    background: url("/img/ring/rw_demo_ring_txt_upgrading_on.png") no-repeat scroll 0 0 transparent;
}

#voice4 {
    left: 1136px;
    position: absolute;
    top: 0px;
}

#voice4.off {
    background: url("/img/ring/rw_demo_ring_txt_delete_off.png") no-repeat scroll 0 0 transparent;
}
#voice4.hover,
#voice4.on {
    background: url("/img/ring/rw_demo_ring_txt_delete_on.png") no-repeat scroll 0 0 transparent;
}
