html, body {
	height: 100%;
}

article {
	height: 100% !important;
	overflow: hidden;
}

#code {
	height: auto;
	overflow: visible;
}

body {
	position: relative;
	margin: 0;
	padding: 0;

	font-family: Helmet, Freesans, sans-serif;
}

/* Generic typography */
a, a:hover {
	color: #000;
	text-decoration: underline;
}

/* Project context panel */
.frame {
	position: relative;
	text-align: center;
}

.frame .content {
	position: absolute;
	top: 50%;
	left: 50%;

	margin: -288px 0 0 -504px; /* --> Visually centered in middle of nav bars */

	height: 554px;
	width: 1008px;

	text-align: left;
}

#landing .frame .content {
    margin: -240px 0 0 -504px; /* Visually centered when bottom nav bar missing */
}

.content > h1,
.frame .content > h1 {
	display: inline-block;

	margin: 0 16px 0 0;
	line-height: 48px;
	font-size: 32px;
	color: #666;
}

.content .sub-nav,
.frame .content .sub-nav {
	display: inline-block;
	text-align: right;
}

.content .sub-nav a,
.frame .content .sub-nav a {
	display: inline-block;

	padding-right: 8px;

	font-size: 36px;
	font-weight: normal;
	color: #CCC;
	text-decoration: none;

  -webkit-transition: color 0.1s ease-in-out;
     -moz-transition: color 0.1s ease-in-out;
       -o-transition: color 0.1s ease-in-out;
          transition: color 0.1s ease-in-out;
}

.content .sub-nav a:hover,
.frame .content .sub-nav a:hover {
	color: #777;
}

#info    [href='#info'],
#machine [href='#machine'],
#code    [href='#code'] {
	color: #666;
}

.frame .content .image-block {
	position: relative;

	width: 1008px;
	height: 505px;

	/* this applies to the index page */
	background-image: url('/img/archive/rw_home_crop.png');
}

.frame.fixed .content .image-block {
	background-repeat: no-repeat;
	background-position: 50% 54%;
	background-attachment: fixed;
}

.frame .content .text {
	position: absolute;
	top: 96px;
	left: 50%;

	width: 464px;

	margin-left: -232px;
	padding:16px;

	background-color: #FFF;

	font-size: 16px;
	font-weight: normal;
	line-height: 20px;

	color: #666;
}

#intro .content .text p {
	margin: 0;
}

#intro .content .text h1 {
	font-size: 32px;
	font-weight: normal;
	line-height: 36px;

	margin-top: 25px;
	margin-bottom: 20px;
}

#intro .content .text h1 span {
	font-weight: bold;
}

/* Demo context info panel */

#info .content h1 .sub {
	font-size: 36px;
	font-weight: normal;
	color: #CCC;
}

#info .content .text {
	left: 0;
	width: 368px;
	margin: 0;

	padding: 0 16px 0 0;
}

/* Parallax strip of image that separates areas */
.separator {
	width: 100%;
	height: 252px;

	background-repeat: no-repeat;
	background-position: 50% 50%;

	box-shadow: inset 0px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Vertically center the machine */
#machine-wrapper {
	position: relative;
	background-color: #EEE;
}

#machine-wrapper #machine {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* Fixed page header */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 24px;
	line-height: 24px;

	background-color: #000;
	background-color: rgba(0,0,0,0.85);

	z-index: 10;
}

header h1,
header h2,
header a,
header a:hover {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	color: #CCC;
	margin: 0;
	padding: 0 8px;
}

header h2 {
	position: absolute;
	right: 0;
	font-weight: normal;
	text-align: right;
}

header a,
header a:hover {
	font-weight: normal;
}


/* Fixed page navigation */
nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 49px;
	line-height: 49px;

	background-color: #000;
	background-color: rgba(0,0,0,0.85);

	text-align: center;

	z-index: 10;
}

nav .hint {
	position: absolute;
	top: -64px;
	left: 50%;

	height: 32px;
	width: 56px;

	margin-left: -28px;

	background: transparent url('/img/presenter/arrow-down.png') no-repeat;

	cursor: pointer;

  -webkit-transition: opacity 0.3s ease-in;
     -moz-transition: opacity 0.3s ease-in;
       -o-transition: opacity 0.3s ease-in;
          transition: opacity 0.3s ease-in;

	opacity: 0;
}

nav .hint span {
	position: absolute;
	left: -99999px;
}

nav .hint.is-visible {
	opacity: 1;
}

/* */
#index .hint {
	display: none;
}

/* About / Back to Top buttons */
nav .button {
	position: absolute;
	top: 0;

	display: inline-block;
	width: 48px;
	height: 48px;
}

nav .button a {
	display: block;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
}

nav .button a span {
	position: absolute;
	left: -999999px;
}

/* Back to top button */
nav .top {
	left: 0;
	border-right: 1px solid #CCC;
}

nav .top a {
	background-image: url(/img/presenter/rw_button_home_off.png);
}

nav .top a:hover {
	background-image: url(/img/presenter/rw_button_home_hover.png);
}

nav .top a:active {
	background-image: url(/img/presenter/rw_button_home_on.png);
}

/* About button */
nav .about {
	right: 0;
	border-left: 1px solid #CCC;
}

nav .about a {
	background-image: url(/img/presenter/rw_button_about_off.png);
}

nav .about a:hover {
	background-image: url(/img/presenter/rw_button_about_hover.png);
}

nav .about a:active {
	background-image: url(/img/presenter/rw_button_about_on.png);
}

/* Global nav */
nav ul {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

nav ul li {
	display: inline-block;
	width: 229px;
	height: 49px;
	line-height: 49px;

	margin-right: 8px;
	padding-right: 8px;

	border-right: 1px solid #515151;

	list-style: none;

	font-size: 25px;
	font-weight: bold;

	vertical-align: middle;
}

nav ul li:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

nav a {
	display: block;
	width: 100%;
	height: 100%;

  -webkit-transition: color 0.1s ease-in;
     -moz-transition: color 0.1s ease-in;
       -o-transition: color 0.1s ease-in;
          transition: color 0.1s ease-in;
}

nav a,
nav a:hover {
	text-decoration: none;
}

nav a {
	color: #9C9C9C;
}

nav a:hover {
	color: #9C9C9C;
}

/* Page 'active' state */
#wobbulator 	nav .wobbulator a,
#tapeloops 		nav .tapeloops a,
#ring-modulator nav .ring-modulator a,
#gunshot 		nav .gunshot a {
	color: #FFF;
}

nav ul li:hover a {
	color: #DDD;
}

#wobbulator 	nav .wobbulator,
#tapeloops 		nav .tapeloops,
#ring-modulator nav .ring-modulator,
#gunshot 		nav .gunshot {
	background: url(/img/presenter/rw_nav-indicator.png) no-repeat 50% 0;
}