#intro .image-block {
    background-image: url('/img/archive/rw_home_1424x712.png');
}

#info .image-block {
    background-image: url('/img/archive/rw_tape_1424x712.png');
}

.separator.separator-1 {
    background-image: url(/img/archive/parallax/rw_strip_tape1_1920x384.png);
}

.separator.separator-2 {
    background-image: url(/img/archive/parallax/rw_strip_tape2_1920x384.png);
}

#demo #machine {
    width: 1434px;
    height: 520px;

    margin-left: -717px;
    margin-top: -260px;
}

.machine {
    width: 448px;
    height: 520px;
    background: url('/img/tape/rw_demo_tape_background.png') no-repeat;
}

#machine1 {
    position: absolute;
}
#machine2 {
    position: absolute;
    left: 496px;
}
#machine3 {
    position: absolute;
    left: 992px;
}

.play {
    position: relative;
    width: 50px;
    height: 50px;
    left: 71px;
    top: 378px;
}

.play.on {
    background: url('/img/tape/rw_demo_tape_stop.png') no-repeat;
}

.play.off {
    background: url('/img/tape/rw_demo_tape_play.png') no-repeat;
}

.double-speed {
    position: relative;
    width: 89px;
    height: 85px;
    left: 136px;
    top: 319px;
}

.double-speed.off {
    background: url('/img/tape/rw_demo_tape_switch_01.png') no-repeat;
}

.double-speed.on {
    background: url('/img/tape/rw_demo_tape_switch_02.png') no-repeat;
}

.fine-speed {
    position: relative;
    cursor: ns-resize;
    width: 82px;
    height: 82px;
    background: url('/img/tape/rw_demo_tape_rotary-knob.png') no-repeat;
    left: 286px;
    top: 232px;
}
