/* Wobbulator context */
#intro .image-block {
    background-image: url('/img/archive/rw_home_crop.png');
}

#info .image-block {
    background-image: url('/img/archive/rw_wob_info_crop.png');
}

.separator.separator-1 {
    background-image: url(/img/archive/parallax/rw_strip_wob1_1920x384.png);
}

.separator.separator-2 {
    background-image: url(/img/archive/parallax/rw_strip-wob2_1920x384.png);
}

/* Wobbulator demo */
#demo #machine {
    margin-top: -324px;
    margin-left: -324px;
}

#machine {
    position: relative;
    width: 648px;
    height: 648px;

    margin-left: auto;
    margin-right: auto;

    background: url('/img/wob/rw_demo_wob_background.png') no-repeat;
}

#switch {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 76px;
    top: 217px;
    background: url('../img/wob/rw_demo_wob_on-off.png') no-repeat;
}

#switch.off {
    -webkit-transform:rotate(180deg)
}

.knob {
    cursor: ns-resize;
    position: absolute;
}

#frequency {
    width: 248px;
    height: 248px;
    top: 207px;
    left: 200px;
    background: url('../img/wob/rw_demo_wob_centre-dial.png') no-repeat;
}

#bulb {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 100px;
    left: 76px;
}

#bulb.on {
    background: url('../img/wob/rw_demo_wob_lightbulb_on.png') no-repeat;
}

#bulb.off {
    background: url('../img/wob/rw_demo_wob_lightbulb_off.png') no-repeat;
}

#modulation-frequency {
    width: 72px;
    height: 72px;
    top: 530px;
    left: 54px;
    background: url('../img/wob/rw_demo_wob_knob_mod.png') no-repeat;
}

#audio-waveform {
    width: 70px;
    height: 60px;
    top: 534px;
    left: 377px;
    background: url('../img/wob/rw_demo_wob_waveform.png') no-repeat;
}

#audio-waveform.sine {
    -webkit-transform: rotate(-45deg);
}

#audio-waveform.sawtooth {
    -webkit-transform: rotate(45deg);
}

#volume {
    width: 96px;
    height: 96px;
    top: 526px;
    left: 506px;
    background: url('../img/wob/rw_demo_wob_rotary-knob.png') no-repeat;
}

#modulation-depth {
    width: 54px;
    height: 54px;
    top: 530px;
    left: 205px;
    background: url('../img/wob/rw_demo_wob_knob_depth.png') no-repeat;
}