<%# coding: utf-8 %>

<div class="image-block">
  <div class="text">
    <p class="dept">BBC Research &amp; Development</p>
    <p class="dept">Internet Research &amp; Future Services (IRFS)</p>
    <p class="project">Recreating the sounds of the <br/>
      <span class="name">BBC Radiophonic Workshop</span> <br/>
      using the Web Audio API
    </p>
    <p>
      Explore the BBC sound of the 1960s with our 4 demos of
      Radiophonic equipment, built with the
      new <a href="http://www.w3.org/TR/webaudio/">Web Audio API</a>
      standard. Each demo comes with commented code, so you can learn
      how to build your own audio applications.
    </p>
    <p>
      Curious about this project? Read more
    about <a href="http://www.bbc.co.uk/blogs/researchanddevelopment/2012/05/web-audio-radiophonics-1.shtml">the
    genesis of the project</a> and
    <a href="http://www.bbc.co.uk/blogs/researchanddevelopment/2012/11/audio-on-the-web---explore-the.shtml"> how we built it</a>.
    </p>

    <p>
      Questions? Comments? ­ Get in
    touch: <a href="mailto:irfs@bbc.co.uk">irfs@bbc.co.uk</a>
    </p>

    <p><a href="/credits.html">Credits</a></p>
  </div><!-- .text -->
</div><!-- .image-block -->
