<div class="image-block">
  <div class="text">
    <p class="dept">BBC Research &amp; Development</p>
    <p class="dept">Internet Research &amp; Future Services (IRFS)</p>
    <h1>Recreating the sounds of the <br/>
      <span class="name">BBC Radiophonic Workshop</span> <br/>
      using the Web Audio API
    </h1>
    <p>Lorem ipsum some more text here but to learn more about the project go to the <a href="/about/">about page</a>.</p>
  </div><!-- .text -->
</div><!-- .image-block -->
