<div class="bbc-sharetools">
	<div class="bbc-st bbc-st-slim bbc-st-light bbc-st-disable-counts">
	  <a href="http://www.bbc.co.uk/modules/sharetools/share?url=<%= @url %>&amp;appId=rd">Share this page</a>
	</div>
</div>