<%# coding: utf-8 %>
<div class="demo-header wrapper">
  <div class="inner">
    <h1>&nbsp;</h1>
    <%= render '_sharetools.html.erb' %>
  </div>
</div>

<article id="intro" class="area frame">
  <h2>Intro</h2>
  <div class="content">
    <div class="image-block">
      <div class="text">
        <p class="dept">BBC Research &amp; Development</p>
        <p class="dept">Internet Research &amp; Future Services (IRFS)</p>
        <h2>Credits</h2>
        <p>Built by:</p>
        <ul>
          <li>Pete Warren (Design, voices of the daleks and cybermen, tape looping)</li>
          <li>Matthew Paradis (PD-wizardry, Web Audio hacking)</li>
          <li>Andrew Nicolaou (JavaScript, CSS, bug squashing)</li>
          <li>Chris Lowis (Web Audio hacking, ruby wrangling)</li>
          <li>Oliver Thereaux (Project running, problem solving)</li>
          <li>Lara Bostock (JavaScript bug fixing, CSS magic)</li>
          <li>Chris Needham (Web Audio hacking)</li>
        </ul>

        <p>With very special thanks to: Dick Mills, Mark Ayers, Roger
        Limb, Chris Baume, Louise Martin, Theo Jones, Sam Dutton,
        Matthew Herbert.</p>

      </div><!-- .text -->
    </div><!-- .image-block -->
  </div><!-- .content -->
</article>
