<%# coding: utf-8 %>

<div class="demo-header wrapper">
  <header class="inner">
    <h1>Gunfire Effects Generator</h1>
    <%= render '_sub_nav.html.erb' %>
    <div class="bbc-sharetools"></div>
  </header>
</div>

<article id="intro" class="area frame">
  <h2>Intro</h2>
  <div class="content">
    <%= render '_image_block.html.erb' %>
  </div><!-- .content -->
</article>

<article id="info" class="area frame">
  <h2>Info</h2>
  <div class="content">
    <div class="image-block">
      <div class="text">
        <p>Prior to 1954, gunshot effects in drama were made firing a
          real gun in front of a microphone. Guns could easily damage
          microphones, scare performers and had safety implications.
        </p>

        <p>The BBC Designs Department produced a successful electronic
          alternative which sounded realistic and was capable of being used for
          a broad range of sounds which could not be made naturally.
        </p>

        <p><a href="#machine">Have a play</a> with our simulation of
        the Gunfire Effects Generator to create your own gun sounds,
        then keep scrolling to find out <a href="#code">how we built
        it</a> using the Web Audio API</p>
      </div><!-- .text -->
    </div><!-- .image-block -->
  </div><!-- .content -->
</article>

<div class="separator separator-1" data-stellar-background-ratio="0.7"></div>

<article id="demo" class="area">
  <h2>Demo</h2>
  <div id="machine">
    <div id="volume" class="knob"></div>
    <div id="rate-of-fire" class="knob"></div>
    <div id="distance" class="knob"></div>
    <div id="multi-fire" class="off"></div>
    <div id="trigger"></div>
  </div>
</article><!-- #demo -->

<div class="separator separator-2" data-stellar-background-ratio="0.7"></div>

<article id="code" class="area">
  <h2>Code</h2>
  <div class="content">
  </div><!-- .content -->
  <%= @code %>
</article>
