<article id="intro" class="area frame">
  <div class="content">
    <div class="image-block">
      <div class="text">
        <p class="dept">BBC Research &amp; Development</p>

        <h1>Recreating the sounds of the <br/>
          <span class="name">BBC Radiophonic Workshop</span> <br/>
          using the Web Audio API
        </h1>

        <p>To find out more about this prototype and to create your
        own Radiophonic sounds check
        our <a href="http://www.bbc.co.uk/blogs/researchanddevelopment/">blog</a>
        for announcements about our launch.</p>
      </div><!-- .text -->
    </div><!-- .image-block -->
  </div><!-- .content -->
</article>
