<div class="demo-header wrapper">
  <div class="inner">
    <h1>&nbsp;</h1>
  </div>
</div>

<article id="intro" class="area frame">
  <h2>Intro</h2>
  <div class="content">
    <%= render '_image_block.html.erb' %>
  </div><!-- .content -->
</article>
