<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Recreating the sounds of the BBC Radiophonic Workshop using
    the Web Audio API</title>

  <link rel="stylesheet" type="text/css" href="/css/shared.css" />
  
  <%= render '_analytics.html.erb' %>
</head>
<body id="landing">
  <div class="project-header wrapper">
    <header class="inner">
      <h1 class="project">Recreating the sounds of the BBC Radiophonic Workshop using
      the Web Audio API</h1>
      <p class="dept">a prototype by <a href="http://bbc.co.uk/rd">BBC Research &amp; Development</a></p>
    </header>
  </div>

  <%= yield %>

</body>
