<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Recreating the sounds of the BBC Radiophonic Workshop using
    the Web Audio API</title>

  <link rel="stylesheet" type="text/css" href="/css/shared.css" />
</head>
<body id="landing">
  <header>
    <h1>Recreating the sounds of the BBC Radiophonic Workshop using
    the Web Audio API</h1>
    <h2>a prototype by<a href="http://bbc.co.uk/rd">BBC Research &amp; Development</a></h2>
  </header>

  <%= yield %>

</body>
