<%# coding: utf-8 %>
<div class="demo-header wrapper">
  <header class="inner">
    <h1>Tape Loops</h1>
    <%= render '_sub_nav.html.erb' %>
    <%= render '_sharetools.html.erb' %>
  </header>
</div>

<article id="intro" class="area frame">
  <h2>Intro</h2>
  <div class="content">
    <%= render '_image_block.html.erb' %>
  </div><!-- .content -->
</article>

<article id="info" class="area frame">
  <h2>Info</h2>
  <div class="content">
    <div class="image-block">
      <div class="text">
        <p>
          Early radiophonic work was made using tape machines left in studios
          overnight. Tape machines allowed multiple sound manipulations: you could
          speed up sounds, slow them down, reverse them, create loops
          or echo effects.
        </p>

        <p>
          Fragments of recorded sounds were manipulated and then
          spliced together to form compositions and tape loops ­
          sometimes several metres long.
        </p>

        <p>
          In <a href="http://www.youtube.com/watch?v=NDX_CS3NsTk">this
          video</a> you can watch Delia Derbyshire triggering tape
          loops in time to create a piece of music.
        </p>

        <p>
          <a href="#demo">Now you can try</a> to build up a
          composition with our simulation of the Workshop's tape
          machines. Keep scrolling to find out <a href="#code">how we
          built them</a> using the Web Audio API
        </p>
      </div><!-- .text -->
    </div><!-- .image-block -->
  </div><!-- .content -->
</article>

<div class="separator separator-1" data-stellar-background-ratio="0.7"></div>

<article id="demo" class="area">
  <h2>Demo</h2>
  <div id="machine">
    <div id="machine1" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
    <div id="machine2" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
    <div id="machine3" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
  </div>
</article><!-- #demo -->

<div class="separator separator-2" data-stellar-background-ratio="0.7"></div>

<article id="code" class="area">
  <h2>Code</h2>
  <div class="content">
  </div><!-- .content -->
  <%= @code %>
</article>
