<%# coding: utf-8 %>

<article id="intro" class="area">
  <div class="content">
    <h1>Wobbulator</h1>
    <div class="image-block">
      <div class="text">
        <p class="dept">BBC Research &amp; Development</p>
        <p class="dept">Internet Research &amp; Future Services (IRFS)</p>
        <h1>Audio on the Web: <br/>Rediscovering the era of the <span class="name">BBC Radiophonic Workshop</span></h1>
        <p>Lorem ipsum some more text here but to learn more about the project go to the <a href="/about/">about page</a>.</p>
      </div><!-- .text -->
    </div><!-- .image-block -->
  </div><!-- .content -->
</article>

<article id="info" class="area">
  <div class="content">
    <h1>Wobbulator <span class="sub">demo</span></h1>
    <div class="image-block">
      <div class="text">
        <p>The "Wobbulator" was one example of a recycled or salvaged
          piece of equipment put to creative use at the Radiophonic Workshop.
          The Wobbulator was in fact a beat-frequency oscillator (looking at
          archive pictures quite likely
          a <a href="http://www.radiomuseum.org/r/bruelkjae_beat_frequency_oscillato.html">Brüel
            &amp; Kjær Beat Frequency Oscillator 1022</a> (or similar) used by sound
          engineers to measure the acoustic properties of studios or by
          electrical engineers to test equipment.</p>

        <p>When the frequencies are lowered to the audible range, it can
          produce a wide variety of space-y sounds.</p>

        <p>This application is a simulation of the Wobbulator using the
          Web Audio API.</p>
      </div><!-- .text -->
    </div><!-- .image-block -->
  </div><!-- .content -->
</article>

<article id="machine-wrapper" class="area">
  <div id="machine">
    <div id="machine1" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
    <div id="machine2" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
    <div id="machine3" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
  </div>
</article><!-- #machine-wrapper -->

<article id="code" class="area">
  <%= @code %>
</article>
