<%# coding: utf-8 %>

<article id="intro" class="area frame">
  <div class="content">
    <h1>Tape Loops</h1>
    <%= render '_image_block.html.erb' %>
  </div><!-- .content -->
</article>

<article id="info" class="area frame">
  <div class="content">
    <h1>Tape Loops <span class="sub">demo</span></h1>
    <div class="image-block">
      <div class="text">
        <p>Complicated pieces of Radiophonic music were painstakingly
        produced by layering tape loops on top of each other. This
        was a very difficult process and required considerable skill
        from the operator.</p>

        <p>This application is a simulation of the Tape Loops using the
          Web Audio API.</p>
      </div><!-- .text -->
    </div><!-- .image-block -->
  </div><!-- .content -->
</article>

<article id="machine-wrapper" class="area">
  <div id="machine">
    <div id="machine1" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
    <div id="machine2" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
    <div id="machine3" class="machine">
      <div class="play off"></div>
      <div class="double-speed off"></div>
      <div class="fine-speed"></div>
    </div>
  </div>
</article><!-- #machine-wrapper -->

<article id="code" class="area">
  <%= @code %>
</article>
