<%# coding: utf-8 %>

<article id="intro" class="area frame">
  <div class="content">
    <h1>Wobbulator</h1>
    <%= render '_image_block.html.erb' %>
  </div><!-- .content -->
</article>

<div class="separator separator-1" data-stellar-background-ratio="0.7"></div>

<article id="info" class="area frame">
  <div class="content">
    <h1>Wobbulator <span class="sub">demo</span></h1>
    <div class="image-block">
      <div class="text">
        <p>
          In the early 1960s, synthesizers did not exist. Instead the Radiophonic
          Workshop begged and borrowed as many test oscillators as possible from other
          BBC departments.
        </p>

        <p>
          The versatile "wobbulator" was a sine-wave oscillator that
          could be frequency modulated. It consisted of a metal box
          with a few switches and one very large knob that could sweep
          the entire frequency range.
        </p>

        <p>
          <a href="#machine">Have a play</a> with our simulation of
          the Wobbulator to create your own space-y sounds,
          then keep scrolling to find out <a href="#code">how we built
            it</a> using the Web Audio API
        </p>
      </div><!-- .text -->
    </div><!-- .image-block -->
  </div><!-- .content -->
</article>

<div class="separator separator-2" data-stellar-background-ratio="0.7"></div>

<article id="machine-wrapper" class="area">
  <div id="machine">
    <div id="switch" class="off"></div>
    <div id="bulb" class="off"></div>
    <div class="knob" id="frequency"></div>
    <div class="knob" id="modulation-frequency"></div>
    <div class="knob" id="modulation-depth"></div>
    <div class="knob" id="volume"></div>
  </div><!-- #machine -->
</article><!-- #machine-wrapper -->

<article id="code" class="area">
  <%= @code %>
</article>
