<div id="machine">
  <div id="switch" class="off"></div>
  <div id="bulb" class="off"></div>
  <div class="knob" id="frequency"></div>
  <div class="knob" id="modulation-frequency"></div>
  <div class="knob" id="modulation-depth"></div>
  <div class="knob sine" id="audio-waveform"></div>
  <div class="knob" id="volume"></div>
</div><!-- #machine -->
