<div id="machine">
  <div id="volume" class="knob"></div>
  <div id="rate-of-fire" class="knob"></div>
  <div id="distance" class="knob"></div>
  <div id="multi-fire" class="off"></div>
  <div id="trigger"></div>
</div>
