<div id="machine">
  <div id="machine1" class="machine">
    <div class="play off"></div>
    <div class="speed normal"></div>
    <div class="fine-speed"></div>
  </div>
  <div id="machine2" class="machine">
    <div class="play off"></div>
    <div class="speed normal"></div>
    <div class="fine-speed"></div>
  </div>
  <div id="machine3" class="machine">
    <div class="play off"></div>
    <div class="speed normal"></div>
    <div class="fine-speed"></div>
  </div>
</div>
