<div id="machine">
  <div id="voice1" class="voice off"></div>
  <div id="voice2" class="voice off"></div>
  <div id="voice3" class="voice off"></div>
  <div id="voice4" class="voice off"></div>
  <div id="tape-speed"></div>
  <div id="mod-distortion"></div>
  <div id="live-input" class="button"><span></span> Live mic.</div>
</div>
